Source: bg-dev
Section: admin
Priority: optional
Maintainer: Robert E. Griffith <bobg@junga.com>
Vcs-Browser: https://github.com/junga-com/bg-dev
Vcs-git: git@github.com/junga-com/bg-dev

Package: bg-dev
Architecture: all
Depends: bg-core, debconf-utils, exuberant-ctags
Description: Tools to develop bg software packages
 bg-dev provides an environment for writing and maintaining various types of software packages.
 See man bg-dev after installing.
